.control {
  background-color: $bg-dark;
  position: relative;

  @include media-breakpoint-up(lg) {
    background-color: $white;

    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 355px;
      position: absolute;
      background-color: $bg-dark;
    }
  }

  .section-heading {
    margin-bottom: 44px;
    color: $white;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }

  .container {
    max-width: 877px;
  }
}

.control__video {
  background: $dark;
  box-shadow: 0 20px 30px rgba(24, 24, 24, 0.1);

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 13px;
  //height: 0;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &::after {
    display: block;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/dist/video-pic.jpg") no-repeat;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: url("../images/dist/icon-play.svg");
    padding: 12px 14px;
    display: block;
    width: 37px;
    height: 37px;
    background-color: $accent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include media-breakpoint-up(md) {
      width: 85px;
      height: 85px;
      padding: 29px 29px 29px 35px;
    }
  }

  &:hover::after, &:hover::before {
    display: none;
  }
}

.control__description {
  margin: 51px auto 69px;
  color: $white;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 1px;
    background-color: $accent;

    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include media-breakpoint-up(sm) {
    width: 525px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media-breakpoint-up(md) {
    font-size: 15px;
  }

  @include media-breakpoint-up(lg) {
    width: 681px;
    margin-bottom: 77px;
    font-size: 18px;
    line-height: 37px;
    color: $textcolor;
  }
}

.control__form.form {
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 525px;
    margin-right: auto;
    margin-left: auto;

    div {
      width: 48%;

      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }
    input[type="checkbox"] {
      & + label {
        margin-right: auto;;
        margin-left: auto;
      }
    }

    .button {
      width: 50%;
      margin: 0 auto;
    }
  }

  @include media-breakpoint-up(lg) {
    justify-content: space-around;
    width: auto;

    div {
      border-bottom: 1px solid rgba(54, 54, 54, 0.3);
      width: 231px;
    }
    label {
      color: $textcolor;
    }
    input {
      color: $textcolor;
    }
    input::placeholder {
      color: $textcolor;
    }
    input[type="checkbox"] {
      & + label {
        margin-top: 37px;
        order: 1;
      }
    }
    .button {
      width: 200px;
      margin: 0;
      transform: translateY(0);
    }
  }
}
