.projects {
  padding: 36px 0 12px;
  background-color: $bg-dark;
  color: $white;

  .section-heading {
    width: 44%;
    margin: 0 auto 26px;
    color: $accent;
    letter-spacing: -0.07em;
  }

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 107px 0 80px;

    .section-heading {
      margin-left: 0;
      font-size: 27px;
      line-height: 37px;
      text-align: left;
    }
  }
}

.projects__description {
  width: 90%;
  min-height: 88px;
  margin: 0 auto 36px;
  text-align: center;

  @include media-breakpoint-up(xl) {
    width: 100%;
    margin-left: 0;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
  }
}

.slider {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

.slider-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1;
}

.projects__slider-img {
  margin-bottom: 36px;
  height: 373px;

  @include media-breakpoint-up(sm) {
    height: 475px;
  }
  @include media-breakpoint-up(md) {
    height: 524px;
  }
}

.projects__slider-txt {
  .projects__navigation {
    display: none;
  }
}

.projects__img-slide {
  //width: 100%;
  height: auto;
  background: $bg-grey;
  //display: none;

  opacity: 0;
  width: 0;
  transition: 1s ease-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 524px;
  }

  &.active {
    display: block;
    opacity: 1;
    width: 100%;
  }
}

.projects__txt-slide {
  width: 100%;
  display: none;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }

  &.active {
    display: flex;
  }

  div {
    width: 48%;
    margin-bottom: 32px;

    @include media-breakpoint-up(xl) {
      width: 44%;
      margin-bottom: 23px;
    }

    dt {
      margin-bottom: 8px;
      font-family: "yeseva-one-rdp", serif;
      font-size: 14px;
      color: $accent;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }

    dd {
      margin: 0;
      width: 56%;
      line-height: 1.36;

      @include media-breakpoint-up(lg) {
        font-size: 13px;
        min-height: 42px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 13px;
        line-height: 1.61;
      }
    }
  }
}

.projects__pagination,
.projects__nav-title {
  display: none;
  position: relative;
}

.slider-button-next {
  left: auto;
  right: 10px;
}

.slider-button-prev {
  left: 10px;
  right: auto;
}

.slider-button-next,
.slider-button-prev {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 36px;
  height: 36px;
  background-color: $accent;
  border-radius: 50%;

  &::after {
    color: $white;
    font-size: 11px;
    font-family: swiper-icons;
    font-variant: normal;
    letter-spacing: 0;
    line-height: 1;
  }
}

.slider-button-next::after {
  content: "next";
}

.slider-button-prev::after {
  content: "prev";
}

//
@include media-breakpoint-up(lg) {
  .slider {
    margin-left: 0;
    margin-right: 0;
  }

  .projects__slider {
    display: grid;
    grid-column-gap: 4%;
    grid-template-columns: 388px 1fr;
    grid-template-areas:
        ". pnt"
        "ph psi"
        "pst psi"
        "pp psi";
  }

  .projects__heading {
    grid-area: ph;
  }

  .projects__slider-img {
    grid-area: psi;
    margin-bottom: 0;

    .projects__navigation {
      display: none;
    }
  }

  .projects__slider-txt {
    grid-area: pst;
    padding-bottom: 72px;

    .projects__navigation {
      display: block;
      position: relative;
      width: 50%;
    }
  }

  .projects__pagination {
    grid-area: pp;
    //display: block;
    //width: 34%;
    width: 22%;
    //left: 35px;

    bottom: 17px;
    left: 14%;

    display: flex;
    justify-content: space-evenly;
    z-index: 1;

    & .slider-pagination {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: none;
      background-color: $white;
      opacity: 0.5;

      &:hover {
        cursor: pointer;
      }

      &.active {
        opacity: 1;
        cursor: default;
      }
    }
  }

  .projects__nav-title {
    grid-area: pnt;
    display: block;
    height: 20px;
    margin-bottom: 47px;

    p {
      display: flex;
      justify-content: space-between;
      width: 100%;
      //padding: 0 12px;
      margin: 0;
      text-transform: uppercase;
      position: absolute;

      span {
        //width: 32%;
        text-align: center;
        opacity: 0.5;

        &:hover {
          cursor: pointer;
        }

        &.active {
          color: $accent;
          opacity: 1;
          cursor: default;
          border-bottom: 1px solid $accent;
        }
      }
    }
  }

  .slider-button-prev,
  .slider-button-next {
    background-color: transparent;
    top: 65px;

    &::before {
      display: block;
      content: "";
      width: 36px;
      height: 1px;
      background-color: $white;
      position: absolute;
    }
  }

  .slider-button-prev {
    justify-content: flex-start;
  }

  .slider-button-next {
    justify-content: flex-end;
  }
}

@include media-breakpoint-up(xl) {
  .projects__slider {
    margin: 0 30px;
    grid-template-columns: 440px 1fr;
  }
}
